@{
    ViewData["Title"] = "Mission Statement";
}
<h1>@ViewData["Title"]</h1>

<div class="card text-center">
    <div class="card-body">
        <p class="my-0">
            There are 70 sextillion stars in the universe, 400 quintillion of which are considered “sun-like”
            stars. If just 1% of those “sun-like” stars contained an Earth-like exoplanet orbiting it, then
            100 * 10^18 planets in the universe potentially sustain life, leaving the Milky Way alone 8.8
            billion potentially habitable planets. Italian physicist Enrico Fermi was the first to formally
            publish the obvious question: “Where is everybody”? It seems like the universe should be teeming
            with life, but there’s very little empirical evidence pointing to the existence of life
            outside Earth.
        </p>
        <br />
        <p class="my-0">
            Our mathematical certainty that life must exist beyond our planet is chilling in the face of our
            lived experience as the sole conscious species in the universe. As such, we should aim to hold onto
            any evidence pointing to extraterrestrial life, whenever possible.
            Convenient access to UFO sighting data is essential to better understand our universe and prepare
            ourselves for life outside of our galaxy. This project scrapes UFO sighting data from the National
            UFO Reporting Center (NUFORC) and compiles it into one database. Next, analysis of the data in the
            database is used to find commonalities in patterns and sightings, decomposing thousands of reports
            into easily digestible statistics. Finally, visualization of the data is displayed to the user on
            a web page in simple graphs, charts, and maps providing users the information they need to be on the
            lookout for the next UFO event.


        </p>
        <br />
        <footer class="small">
            Special thanks to the National UFO Reporting Center for providing open access to the reports featured on this site.
            <br />Visit their website at: 
            <a href="http://www.nuforc.org/webreports.html">http://www.nuforc.org/webreports.html</a>
        </footer>
        <br />
        <footer class="blockquote-footer">The Founders of UFO-U</footer>

    </div>
</div>
<blockquote class="blockquote card-text">
    
    <br />
    
</blockquote>
