@model UFOU.Models.Report
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Report</h1>



<div class="row">
    <div class="col-md-4" style="background-color:white">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Location" class="control-label" style="color:rebeccapurple; font-weight:bold"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Shape" class="control-label" style="color:rebeccapurple; font-weight:bold"></label>
                    <select asp-for="Shape" asp-items="Html.GetEnumSelectList<ShapeUtility.Shape>()" class="form-control"></select>
                    <span asp-validation-for="Shape" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label" style="color:rebeccapurple; font-weight:bold"></label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div><div class="form-group">
                    <label asp-for="Description" class="control-label" style="color:rebeccapurple; font-weight:bold"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOccurred" class="control-label" style="color:rebeccapurple; font-weight:bold"></label>
                    <input asp-for="DateOccurred" class="form-control" />
                    <span asp-validation-for="DateOccurred" class="text-danger"></span>
                </div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
